extends layout 
 
block content 
  h1= title 
 
  if (toShow == null) 
    h2 No instance to delete 
  else
    - let CricketBatid = toShow._id 
    - let CricketBat_type = toShow.Name 
    - let CricketBatcost = toShow.Manufacture 
    - let CricketBatsize = toShow.Cost 
    
    div.row(class='mb-2') 
      div.mr-1 ID is 
      div #{CricketBatid} 
    - let actionid = "/resource/CricketBats/" + CricketBatid 
    form(id='CricketBatForm', action= actionid, method="PUT") 
      div.form-group 
          label.CricketBatAttr(for='Name') CricketBat Name 
          input#CricketBat_type(type='text', name='Name', value= CricketBat_type ) 
      div.form-group 
          label.CricketBatAttr(for='Cost') CricketBat Cost 
          input#size(type='number', name='Cost', value= CricketBatcost ) 
      div.form-group 
          label.CricketBatAttr(for='Manufacture') CricketBat Manufacture 
          input#cost(type='text', name='Manufacture', value= CricketBatsize ) 
      input(type="submit") 
 
  script. 
    document.forms['CricketBatForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'PUT', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Update succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Update failed " + error ) 
      }); 
    });