extends layout 
 
block content 
  h1= title 
 
  form(id='CricketBatForm', action="/resource/CricketBats", method="POST") 
    div.form-group 
        label.CricketBatAttr(for='CricketBat_type') CricketBat type 
        input#CricketBat_type(type='text', name='CricketBat_type') 
    div.form-group 
        label.CricketBatAttr(for='size') CricketBat size 
        input#size(type='text', name='size') 
    div.form-group 
        label.CricketBatAttr(for='cost') CricketBat cost 
        input#cost(type='number', name='cost') 
    input(type="submit") 
 
  script. 
    document.forms['CricketBatForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 